<div class="wrapper col-md-6 col-md-offset-3 col-sm-10 col-sm-offset-1">
    <div class="left">
        <p>
        <h3>ユーザー:</h3>
        <%= @task.user.name %> (<%= @task.user.email %>)
        </p>

        <p>
        <h3>タイトル:</h3>
        <%= @task.title %>
        </p>

        <p>
        <h3>内容:</h3>
        <%= @task.content %>
        </p>

        <p>
        <h3>締め切り:</h3>
        <%= @task.deadline.strftime("%Y/%m/%d %R") %>
        </p>

        <p>
        <h3>依頼人:</h3>
        <%= @task.charge.name %>
        </p>

        <p>
        <h3>完了ステータス:</h3>
        <%= if @task.done? then "完了" else "未完了" end %>
        </p>

        <p>
        <h3>状態:</h3>
        <%= @task.status == 1? "対応中" : "未着手" %>
        </p>
    </div>
    <%= link_to '編集', edit_user_task_path(@task.user, @task), class: 'btn btn-default' %> |
    <%= link_to '戻る', user_tasks_path(@task.user), class: 'btn btn-default' %>
</div>
