<% users.each do |user| %>
    <div class="container-child col-md-2 col-md-4 col-xs-6">
        <%= profile_img(user) %>
        <% if user.id != current_user.id %>
            <%= link_to "#{user.name}", user_path(user) %>
            <p><%= user.email %></p>
            <%= render 'follow_form', user: user %>
        <% else %>
            <%= link_to "#{user.name}", user_path(user) %>
            <p><%= user.email %></p>
        <% end %>
    </div>
<% end %>
