<h1>お問い合わせ一覧</h1>

<% @contact.each do |contact| %>
    <p>名前：<%= contact.name %></p>
    <p>メールアドレス：<%= contact.email %></p>
    <p>お問い合わせ内容：<%= contact.content %></p>
<% end %>

<p><%= link_to 'お問い合わせする', new_contact_path %></p>
<p><%= link_to 'ブログ一覧画面', blogs_path %></p>
